Christian Pietsch <chr.pietsch+cpan@gmail.com>
Dave Sherohman <dsheroh@cpan.org> <Dave.Sherohman@lub.lu.se>
Dave Sherohman <dsheroh@cpan.org> <Dave.Sherohman@ub.lu.se>
Jakob Voß <jakob.voss@gbv.de> <jakob@nichtich.de>
Jakob Voß <jakob.voss@gbv.de> <voss@gbv.de>
Johann Rolschewski <jorol@cpan.org> <rolschewski@gmail.com>
Magnus Enger <magnus@enger.priv.no>
Nicolas Franck <njfranck@cpan.org> <nicolas.franck@ugent.be>
Nicolas Franck <njfranck@cpan.org> <njfranck@ca20c521.ugent.be>
Nicolas Steenlant <nicolas.steenlant@ugent.be> <nicolas.steenlant@gmail.com>
Nicolas Steenlant <nicolas.steenlant@ugent.be> <nsteenla@ca20c608.ugent.be>
Nicolas Steenlant <nicolas.steenlant@ugent.be> <nicolas.steenlant@ugent.be>
Patrick Hochstenbach <patrick.hochstenbach@gmail.com> <patrick.hochstenbach@ugent.be>
Patrick Hochstenbach <patrick.hochstenbach@gmail.com> <phochste@hal.lub.lu.se>
Patrick Hochstenbach <patrick.hochstenbach@gmail.com> <phochste@vmtemp4.ugent.be>
Snorri Briem <Snorri.Briem@lub.lu.se> <Snorri.Briem@ub.lu.se>
Upasana Shukla <me@upasana.me>
Vitali Peil <vpeil@cpan.org> <vitali.peil@uni-bielefeld.de>
