body {
    font-family: Arimo, "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #252525;
}

h1, h2, h3 {
    font-family: "Linux Libertine", Georgia, Times, serif;
    border-bottom: 1px solid #aaa;
    color: #000;
}

h4 {
    color: #000;
}

header {
    padding: 1em;
}
header h1 {
    border-bottom: none;
    font-family: Arimo, "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.title { font-size: 3em; }
.subtitle { font-size: 2em; }
.date { font-size: 1.5em; }
.author { font-size: 1.5em; }

nav#TOC:before {
    content: "Table of Contents";
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
}

