  body {
    background: #fff;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 11pt;
  }

  th {
    text-align: left;
    vertical-align: top;
  }

  .roles {
    background: #efe;
    padding: 10px;
    border-radius: 15px;
    font-size: 9pt;
    width: 830px;
    margin-bottom: 10px;
  }

  .role {
    float: left;
    width: 250px;
  }

  .user {
    background: #eef;
    margin: 5px;
    padding: 1px;
    display: inline;
  }

  .form {
    background: #eef;
    width: 830px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
  }

  .form form {
    vertical-align: middle;
  }

  img {
    vertical-align: bottom;
  }

  .bottom {
    width: 850px;
  }

  .add {
    float: left;
    padding: 10px;
    background: #eef; 
    border-radius: 15px;
    width: 300px;
    height: 250px;
    margin-right: 10px;
  }

  .add h2 , .add td , .add, th {
    font-size: 80%;
  }

  .desc {
    float: right;
    width: 500px;
    height: 250px;
    background: #fee;
    border-radius: 15px;
    padding: 10px;
  }

  .logo {
    float: right; 
    background: #fff;
    border-radius: 15px;
  }

  h1 {
    width: 830px;
    background: #ffe;
    border-radius: 15px;
    padding: 10px;
    color: #111;
  }
